## Titanic Survival Aanalysis 
<img src="./Images/Titanic_Image.jpg" width="100%">

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
import matplotlib.pyplot as plt
% matplotlib inline

In [3]:
# read in the data
df = pd.read_csv('./Dataset/Titanic_train.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [4]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

We were not on the boat, but we have seen the movie :)


<img src="./Images/titanic_movie.jpg" width="100%">

### Let's verity what we have seen in the movie with real data
1. Is passenger's ticket class has any effect on survival ?
2. Is passenger's gender has any effect on survival ?
3. Is passenger's Age has any effect on survival ?

# Passenger's Class

In [ ]:
df["Survived"]=df["Survived"].map({1:"Survived", 0: "Non-Survived"})

In [ ]:
df["Pclass"]=df["Pclass"].map({1:"First", 2: "Second", 3:"Third"})

In [ ]:
df.head()

In [ ]:
plt.figure(figsize=(8,6))
sns.set(style="whitegrid", font_scale=1.3)
ax=sns.countplot(x="Survived", data=df, palette="hls")
ax.set_title('foo')

### Effect of Passenger's Class

Let's see the composition of the dataset with respect to the Passenger's class

In [ ]:
sns.set(style="white", font_scale=1.3)
sns.countplot(x="Pclass", data=df, palette="hls")

Let's see how many of them survived

In [ ]:
sns.set(style="white", font_scale=1.3)
sns.countplot(x="Survived",hue="Pclass", data=df, palette="hls")

# Effect of Gender
Let's see the composition of the dataset with respect to the Passenger's Gender

In [ ]:
sns.set(style="whitegrid", font_scale=1.3)
sns.countplot(x="Sex", data=df, palette="hls")

In [ ]:
sns.set(style="white", font_scale=1.3)
sns.countplot(x="Survived",hue="Sex", data=df, palette="hls")

# Effect of Age

In [ ]:
df[(df["Sex"] =='male')].hist('Age')

In [ ]:
df[(df["Sex"] =='male') & (df["Survived"] =='Survived')].hist('Age')

# Practice @Home

### Find out effect of passenger's class and gender together on the Survival rate